$red: #e74c3c;

body {
    --app-container: #f3f6fd;
    --app-secondary-container: #eee;
    --input-background: #fff;
    --main-color: #1f1c2e;
    --secondary-color: #4a4a4a;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --message-btn: #fff;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --warning-color: #f1c40f;
    --info-color: #3498db;
}

body[data-theme="dark"] {
    --app-container: #111827;
    --app-secondary-container: #131b2e;
    --input-background: #1f2937;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: #c3cff4;
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --projects-section: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --light-font: rgba(255, 255, 255, 0.8);
}
